<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<%= render 'layouts/navigation' %>
<div class="body">
 
<h1>Edit Profile</h1>
<% if logged_in?%>
    <%= render 'form', profile: @profile %>
<%end%>
<%= link_to 'Back', profiles_path %>
  </div>
<%= javascript_pack_tag 'editProfile', 'data-turbolinks-track': 'reload' %>