<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<%= render 'layouts/navigation'%>
<div class="body">
  

<h1>New Skill</h1>

<%= render 'form', skill: @skill %>
 
</div>