<%= render 'layouts/navigation'%>
<div class="body">
  <h1>
    The Story Behind Concerto
  </h1>
  <p class ="aboutP">
    My name is Ellie Mitchell. I'm a student at Grand Valley State University, and while I'm studying to become a software developer, I was a musician
    far before I ever became interested in computers. Early in high school, I began to work with sampling software, but quickly realized that
    without buying extensive and expensive solo instrument sample packs, I couldn't come up with good solo tones, and even when I could find them,
    sample packs never replaced the beauty and soul of a real musician playing a real instrument. But even when I realized this is what I needed,
    I could rarely find musicians that were available to work with me. How likely was I to find, for example, a solo trumpet player among my own 
    contacts? Sure, I could browse SoundCloud and perhaps find a musician that had the skills I needed, but then there's no guarantee they'd
    be willing to collaborate, or wanted to work in the genre I was seeking.<br><br>
    That's why I wanted to create this site. On Concerto, musicians can create a profile, add their skills, and find people with the skills
    they are looking for. As our database expands, it will grow easier and easier to find what you're looking for. This way, you can easily
    find someone with the desired skills and know that they are open to collaborate. Good luck searching!
  </p>
  
  <h1>
    Developer Notes
    </h1>
    <p class="aboutP">
      This site was created with Ruby on Rails, JavaScript, HTML, CSS, and bcrypt. The homepage photograph is by <a href="https://www.jonvez.com/">Jonathan Velasquez</a>.
    </p>

</div>