<%= render 'layouts/navigation' %><%= yield %>
<div class="jumbotron-fluid">
  <div class="container">
    <h1>Concerto</h1>
     <p>Where musicians go to find collaborators</p>
    <p>
      Begin by creating a profile and then start searching!
    </p>
   </div>
 </div>