<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<%= render 'layouts/navigation' %><%= yield %>
<div class="jumbotron-fluid">
  <div class="container">
    <br>
     <p>Where musicians go to find collaborators.</p>
    <p>
      Begin by creating a profile and then start searching!
    </p>
   </div>
 </div>