.body{
  background-color:#404040;
  display:block;
  min-height:100vh;
  height:100%;
}

table{
  width:100%;
  text-align:center;
  margin-left:10px;
  margin-right:10px;
  color:#ffffff;
}

h1{
  color:#fdff78;
}

.profile-nav{
  color:#ffffff;
}

.socialLinks{
  display:inline;
  padding-left:10px;
  padding-right:10px;
}


#socialLinksDiv{
  width:100%;
  text-align:center;
}

.profileSection{
  white-space: pre-wrap;
}

.errormsg{
  color:#ffffff;
}

.profileSection h2{
  font-size:1.5em;
  text-decoration:none;
  font-weight:normal;
  color: #feffcf;
}

.profileSection p{
  margin-top:-50px;
}

.skillDiv{
  display:inline;
  width:46%;
  margin-left:2%;
  margin-right:2%;
  float:left;
}

.skillDiv h2{
  text-align:center;
}

.label{
  font-size:1.2em;
}

#newSearch{
  margin: 0 auto;
  display:block;
}

#nameField, #emailField{
  width:350px;
  text-align:center;
  margin:auto;
}


#bioField{
  width:800px;
  text-align:left;
  margin:auto;
  height:300px;
}

#interestsField{
  width:800px;
  text-align:left;
  margin:auto;
  height:200px;
}

#soundcloudField, #youtubeField, #spotifyField{
  width: 400px;
  text-align:center;
  margin:auto;
}

h2{
  color:#feffcf;
}

.link{
  margin-left:15px;
  margin-bottom:15px;
}
@media only screen and (max-width:500px){
  
  #experienceHeader{
    display:none;
  }
  #profileForm #nameField{
    width:96%;
    margin-left:2%;
    margin-right:2%;
  } 
  
  #profileForm #emailField{
    width:96%;
    margin-left:2%;
    margin-right:2%;
  }
  
  #profileForm #bioField{
    width:96%;
    margin-left:2%;
    margin-right:2%;
    height: 400px;
  }
  
  #profileForm #interestsField{
    width:96%;
    margin-left:2%;
    margin-right:2%;
    height: 300px;
  }
  
  #soundcloudField, #youtubeField, #spotifyField{
    width:80%;
    margin-left:10%;
    margin-right:10%;
  }
}

