body {
  background-color: #404040;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 18px;
  color:#ffffff;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 1em; }

.profile-nav a {
  color: #ffffff; 
  font-size:1em;
}

.profile-nav a:visited{
  color: #ffffff;
}

.profile-nav a:hover {
  color: #fdff78;
}

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

@media only screen and (max-width:500px){
}
