// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#loginDiv .form-control{
  width:300px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}